<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.OrdersMapper">

    <sql id="Base_Column_List">
        id,goods_id,goods_name,goods_img,order_no,total,time,pay_no,pay_time,user_id,address,phone,user_name,status,sale_id
    </sql>

    <select id="selectAll" resultType="com.example.entity.Orders">
        select orders.*, user.name as saleName
        from orders
        left join user on user.id = orders.sale_id
        <where>
            <if test="goodsName != null"> and orders.goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="orderNo != null"> and orders.order_no like concat('%', #{orderNo}, '%')</if>
            <if test="status != null"> and orders.status like concat('%', #{status}, '%')</if>
            <if test="userId != null"> and orders.user_id = #{userId}</if>
            <if test="saleId != null"> and orders.sale_id = #{saleId}</if>
        </where>
        order by orders.time desc
    </select>

    <select id="selectById" resultType="com.example.entity.Orders">
        select
        <include refid="Base_Column_List" />
        from orders
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from orders
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Orders" useGeneratedKeys="true" keyProperty="id">
        insert into orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="goodsName != null">goods_name,</if>
            <if test="goodsImg != null">goods_img,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="total != null">total,</if>
            <if test="time != null">time,</if>
            <if test="payNo != null">pay_no,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="userId != null">user_id,</if>
            <if test="address != null">address,</if>
            <if test="phone != null">phone,</if>
            <if test="userName != null">user_name,</if>
            <if test="status != null">status,</if>
            <if test="saleId != null">sale_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="goodsName != null">#{goodsName},</if>
            <if test="goodsImg != null">#{goodsImg},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="total != null">#{total},</if>
            <if test="time != null">#{time},</if>
            <if test="payNo != null">#{payNo},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="address != null">#{address},</if>
            <if test="phone != null">#{phone},</if>
            <if test="userName != null">#{userName},</if>
            <if test="status != null">#{status},</if>
            <if test="saleId != null">#{saleId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Orders">
        update orders
        <set>
            <if test="goodsId != null">
                goods_id = #{goodsId},
            </if>
            <if test="goodsName != null">
                goods_name = #{goodsName},
            </if>
            <if test="goodsImg != null">
                goods_img = #{goodsImg},
            </if>
            <if test="orderNo != null">
                order_no = #{orderNo},
            </if>
            <if test="total != null">
                total = #{total},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="payNo != null">
                pay_no = #{payNo},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="saleId != null">
                sale_id = #{saleId},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>